details.st-sd-webui-api-details {
  summary {
    cursor: pointer;
  }

  .st-sd-webui-api-style-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--SmartThemeBorderColor);
    border-radius: 5px;
    padding: 3px 5px;
    padding: 5px;
  }

  #st-sd-webui-api-styles-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 10px;
  }

  .subtitle1 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.6;
  }

  .subtitle2 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.6;
  }

  .content {
    padding: 12px;
  }

  .number-after-range {
    width: 100px;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block: 5px;
  }

  .highlight {
    color: var(--SmartThemeQuoteColor);
  }

  .color_red {
    color: var(--warning);
  }

  select:disabled {
    opacity: 0.5;
  }
}